*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}


.orange-color{
    color:orange;
}

.flex-banner{
    display: flex;
    margin-bottom: 40px;
}
.top-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    /* background-position: top left; */
}
.half-part{

    width: 50%;
    padding-left: 50px;
    padding-top:30px;
}

.half-part img{
    width: 80%;
}
.top-img{
    margin-top: 50px;

}
h1{
    font-size: 45px;
    padding-left: 100px;
}
h2{
    font-size: 50px;
}

.myself{
    padding: 70px;
}
#wlcm{
    color:rgb(36 53 58 / 77%);
}

h3{
    margin-top: 20px;
}
p{
    margin: 10px 0px;
}
#my-world{
    padding-left: 200px;
}


.link-btn{
    text-decoration: none;
    color:white;
    font-weight: 600;
    background-image: linear-gradient(orange,tomato);
    border-radius:5px;
    padding:7px 30px;
    text-transform: uppercase;
}

.dream-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-left: 5%;
}
.dream-banner .half-part{
    width: 40%;
    /* border: 2px solid rebeccapurple; */


}